
.bgSelect{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;

}

.boxSelect {
    box-shadow: 3px 3px 6px -1px #444444;
    border: 2px solid black;
    border-radius: 15px;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;    
}

details{
    border-bottom: 1px solid black;
    border-radius: 10px;
}

summary{
    cursor: pointer;
    color: #530082;
    font-size: 20px;
}

p {
    font-size: 17px;
}

table {
    
    border-collapse: collapse;
    width: 100%;
  }
  
th{
    color:rgb(0, 0, 0);
    font-size: 20px;
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;

}

td{
    color:rgb(233, 223, 223);
    font-size: 18px;
    white-space: nowrap;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    border-bottom: 1px solid #0000002a;
    
}


.Listbox2 {
    border-radius: 60px;
    font-size: 10px;
    position: absolute; 
    top: 48%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 85vh;
    background-image: linear-gradient(to bottom, #22b9e36e,#1431b43f);

}


.RenderBackBlur2 {
    border-radius: 60px;
    font-size: 10px;
    position: absolute; 
    top: 48%; 
    left: 50%;  
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 85vh;
    backdrop-filter: blur(8px);
    background-image: linear-gradient(to bottom, #22b9e33a,#1431b423);
    
  }


.inputBox{
    position: relative;
    width: 300px; 
    box-shadow: 3px 3px 6px -1px #444444;
    border-radius: 13px;
 }

 .inputBox2{
    text-align: left;
 }
 
 .inputBox input {
     width: 100%;
     padding: 5px;
     border: 1px solid rgba(0, 0, 0, 0.25);
     background: #ffffff;
     border-radius: 13px;
     outline: none;
     color: #000;
     font-size: 1.3em; 
     transition: 0.5s;
     padding-left: 5%;
 }
 
 .inputBox span{
     font-family: sans-serif;
     position: absolute;
     left: 0;
     padding: 12px;
     pointer-events: none;
     font-size: 1em;
     color: rgba(0, 0, 0, 0.25);
     text-transform: uppercase;
     transition: 0.5s;
 }
 
 .inputBox input:valid ~ span,
 .inputBox input:focus ~ span
 {
     color: #000;
     transform: translateX(10px) translateY(-7px);
     font-size:0.90em;
     padding: 0px 20px;
     background: #ffffff ;
     border-left: 1px solid #000;
     border-right: 1px solid #000;
     letter-spacing: 0.2em;
 }

.mybg{
    display: flex;
    margin-top: 10px;
    align-items: center;
    min-height: 38rem;
    flex-direction: column;
    gap: 40px;
    background: none;
}


  

.list-button {
    background-color: #3358ff5e;
    color: #FFFFFF;
    border: none;
    padding: 5px 5px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
  }

  .list-button:hover {
    cursor: pointer;
    background-color: #0cdddd70;
  }


  .button-1 {
    background-color: #0073f761;
    border-radius: 50px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-1:hover{
      cursor: pointer;
      background-color: #0cdddd70;
  }


.arruma{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: none;
    gap: 10px;
}

.pageButtom{
    padding-top: 10px;
    padding-bottom: 10px;
  }

